<div class="container">
  <div>
    <div class = "well">
        <h4><%= @question.title %></h3>
        <p><%= @question.description %></p>
        <span>Asked By <%= @question.user.email.split('@')[0] %> on <%= @question.time %></span>
    </div>
    <hr>
    <% @question.comments.each do |comment| %>
        <div class="well">
        <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
        </div>
    <% end %>
    </div>
    <div>
      <%= form_for(questions_path(@question_id), :method => 'patch') do |form| %>
          <div class="field">
            <%= form.label :answer %>
            <%= form.text_area :answer %>
          </div>

          <div class="actions">
            <%= form.submit "Answer" %>
          </div>
          <div class="actions">
            <%= form.submit "Escalate" %>
          </div>
        <% end %>

    </div>
    </div>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', root_path %>
